<a href="https://colab.research.google.com/github/duvan314/MinasTennisClub-java/blob/master/Yahoo_Finance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Yahoo Finance
Si quieres tener los datos de precios de índices actualizados a día de hoy, lo puedes hacer de la siguiente manera. Estos datos han sido obtenidos mediante [Yahoo Finance](https://es.finance.yahoo.com/), una plataforma donde puedes ver, obtener, estudiar, analizar y comparar los precios de cierre de diferentes de acciones de los mercados financieros. La forma de obtener los datos de Yahoo Finance en Python es mediante el paquete `yfinance` que tendremos que instalar e importar.

In [1]:
!pip install yfinance
import yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 674 kB/s
Collecting lxml>=4.5.1
  Downloading lxml-4.9.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 11.4 MB/s
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.28.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.9.1 requests-2.28.1 yfinance-0.1.74

Para obtener los precios de cierre de los índices SP500, FTSE, DAX y NIKKEI, especificar los nombres, la fecha de inicio y fin, y el intervalo (diario=1d):

In [2]:
raw_data = yfinance.download (tickers = "^GSPC ^FTSE ^N225 ^GDAXI", start = "1994-01-07", 
                              end = "2020-05-17", interval = "1d", group_by = 'ticker', auto_adjust = True, treads = True)

[*********************100%***********************]  4 of 4 completed

In [3]:
raw_data.tail()

                  ^FTSE                                                       \
                   Open         High          Low        Close        Volume
Date
2020-05-11  5936.000000  5999.100098  5898.299805  5939.700195  1.041394e+09
2020-05-12  5939.700195  6013.000000  5911.399902  5994.799805  9.397677e+08
2020-05-13  5994.799805  5994.799805  5893.399902  5904.100098  1.055706e+09
2020-05-14  5904.100098  5904.100098  5661.100098  5741.500000  1.152460e+09
2020-05-15  5741.500000  5837.899902  5741.500000  5799.799805  9.274333e+08

                   ^N225                                            \
                    Open          High           Low         Close
Date
2020-05-11  20333.730469  20534.880859  20285.039062  20390.660156
2020-05-12  20413.230469  20457.369141  20293.970703  20366.480469
2020-05-13  20140.919922  20329.890625  20056.460938  20267.050781
2020-05-14  20140.490234  20185.000000  19902.929688  19914.779297
2020-05-15  20149.789062  20198.250000  19832.880859  20037.470703

                              ^GSPC                                         \
                Volume         Open         High          Low        Close
Date
2020-05-11  76200000.0  2915.459961  2944.250000  2903.439941  2930.189941
2020-05-12  67700000.0  2939.500000  2945.820068  2869.590088  2870.120117
2020-05-13  79500000.0  2865.860107  2874.139893  2793.149902  2820.000000
2020-05-14  76900000.0  2794.540039  2852.800049  2766.639893  2852.500000
2020-05-15  75200000.0  2829.949951  2865.010010  2816.780029  2863.699951

                                ^GDAXI                              \
                  Volume          Open          High           Low
Date
2020-05-11  4.807320e+09  10948.240234  10986.219727  10740.820312
2020-05-12  5.107710e+09  10777.740234  10886.009766  10772.580078
2020-05-13  6.143130e+09  10669.990234  10698.129883  10530.320312
2020-05-14  5.641920e+09  10418.040039  10474.080078  10160.889648
2020-05-15  5.477040e+09  10470.849609  10547.190430  10382.540039


                   Close       Volume
Date
2020-05-11  10824.990234   88080900.0
2020-05-12  10819.500000   88857600.0
2020-05-13  10542.660156  108739000.0
2020-05-14  10337.019531  133623600.0
2020-05-15  10465.169922  116082600.0

In [4]:
df_comp=raw_data.copy()

Para cada día y cada precio obtenemos 4 datos, los precios de: apertura, máximo, bajo, cierre y volumen. Queremos los precios de cierre así que seleccionamos sólo la variable cierre para cada precio, los guardamos en 4 nuevas variables en el dataset y les ponemos los nombres del indice al que corresponden.

In [ ]:
df_comp['spx'] = df_comp['^GSPC'].Close[:]
df_comp['dax'] = df_comp['^GDAXI'].Close[:]
df_comp['ftse'] = df_comp['^FTSE'].Close[:]
df_comp['nikkei'] = df_comp['^N225'].Close[:]

In [ ]:
df_comp.head()

                 ^GSPC              ...         ftse        nikkei
                  Open        High  ...
Date                                ...
1994-01-07  467.089996  470.260010  ...  3446.000000  18124.009766
1994-01-10  469.899994  475.269989  ...  3440.600098  18443.439453
1994-01-11  475.269989  475.279999  ...  3413.800049  18485.250000
1994-01-12  474.130005  475.059998  ...  3372.000000  18793.880859
1994-01-13  474.170013  474.170013  ...  3360.000000  18577.259766

[5 rows x 24 columns]

Pre-procesado: eliminar las variables que sobran, arreglar la frecuencia a business days y rellenar datos faltantes.

In [ ]:
df_comp = df_comp.iloc[1:]
del df_comp['^N225']
del df_comp['^GSPC']
del df_comp['^GDAXI']
del df_comp['^FTSE']
df_comp=df_comp.asfreq('b')
df_comp=df_comp.fillna(method='ffill')

In [ ]:
df_comp.head()

                   spx          dax         ftse        nikkei

Date
1994-01-10  475.269989  2225.000000  3440.600098  18443.439453
1994-01-11  474.130005  2228.100098  3413.800049  18485.250000
1994-01-12  474.170013  2182.060059  3372.000000  18793.880859
1994-01-13  472.470001  2142.370117  3360.000000  18577.259766
1994-01-14  474.910004  2151.050049  3400.600098  18973.699219